body {
    background-color:#5356E0;
    margin: 0;
}

header {
    background-color: rgb(0, 0, 0);
    height: 100px;
}

.logo{
    margin-top: 0pt;
    float: left;
    width: 100px;
    height: 100%;
}



.botoes {
    text-align: right; 
    border-top: 4px solid black;
}

.botao {
    margin-top: 4vw;
    background-color: gray; 
    color: white;
    height: 40px;
    width: 14vw;
	margin-top: 25px;
    margin-right: 50px; 
    font-size: 1vw;
    display: inline-block;
}

.imagem {
    width: 50vw;
    height: 40vw;
    margin-top: 0vw;
    margin-left:0vw;
    margin-right: 1vw; 
    float: left;
	flex-direction: column;
	 display: flex; 
    justify-content: flex-end; 
	align-items: flex-start;
    
	
}

.texto {
    font-size: 1.2vw; 
    width: 10vw;
	max-width:9vw
    text-align: right;
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
a {
    color: white;
    text-decoration: none; 
}

footer {
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    align-items: flex-start; 
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-left: -80px;
}

